<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
    <div>
        {{#userName}}
            Logged in as : <span id="user">{{userName}}</span>
            <a href="/logout" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
            <a href="/oauth2/authorization/google" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" role="button">Naver Login</a>
        {{/userName}}
    </div>
</body>
</html>
